<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
        <string>FlatterFogel</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>${ASSETCATALOG_COMPILER_APPICON_NAME}</string>
	<key>CFBundleIdentifier</key>
        <string>com.bruhgames.flatterfogel1</string>
	<key>CFBundleName</key>
        <string>FlatterFogel</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${QMAKE_SHORT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>${QMAKE_PKGINFO_TYPEINFO}</string>
	<key>CFBundleVersion</key>
	<string>${QMAKE_FULL_VERSION}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>${IPHONEOS_DEPLOYMENT_TARGET}</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false />
        <key>CFBundleIcons</key>
        <dict>
            <key>CFBundlePrimaryIcon</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon60x60@2x.png</string>
                    <string>AppIcon60x60@3x.png</string>
                    <string>AppIcon76x76.png</string>
                    <string>AppIcon76x76@2x.png</string>
                    <string>AppIcon-Small-40.png</string>
                    <string>AppIcon-Small-40@2x.png</string>
                    <string>AppIcon-Small-40@3x.png</string>
                </array>
            </dict>
        </dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
